@font-face{
    font-family:"SpecialElite";
    src: url(fonts/SpecialElite-Regular.otf);
}
.todosTxt{
    font-family: "SpecialElite";
    font-size: .8em;
}
.textoClase{
    top: 38px;
    left: 220px;
}
.textoNombre{
    top: 51px;
    left: 90px;
}
.textoFechaNa{
    top: 68px;
    left: 190px;
}
.textoNacio{
    top: 84px;
    left: 100px;
}
.textoHijoDe{
    top: 100px;
    left: 90px;
}
.textoYDe{
    top: 116px;
    left: 90px;
}
.textoEstadoCl{
    top: 132px;
    left: 130px;
}
.textoGrado{
    top: 148px;
    left: 130px;
}
.textoLeerEscri{
    top: 164px;
    left: 205px;
}
.textoCURP{
    top: 165px;
    left: 268px;
    font-size: .9em;
}
.textoEstudios{
    top: 180px;
    left: 215px;
}
.textoDom{
    top: 196px;
    left: 105px;
}
.textoPresi{
    top: 325px;
    left: 37.30px;
}
.DirPresi{
    top: 345px;
    left: 37.30px;
}
.textoFecha{
    top: 345px;
    left: 240px;
}
.textoMatricula{
    top: 413px;
    left: 176px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: firebrick;
}
.impre{
    margin-left: 167.87px;
    width: 410.34px;
    text-align: center;
    position: relative;
}